<a href="https://colab.research.google.com/github/AoruFernando01/AoruFernando01/blob/main/aula_anotacoes_25052022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

serie_idades = pd.Series([25, 23, 30, 42, 20, 20, 20, 29], 
                         index=['Maria', 'João', 'José',
                                  'Thiago', 'Tais', 'Pamela', 'Ana', 'Lais'])

print(f"Contagem de cada valor presente\n{serie_idades.value_counts()}\n")

Contagem de cada valor presente
20    3
25    1
23    1
30    1
42    1
29    1
dtype: int64

In [6]:
serie_idades = pd.Series([25, 23, 30, 42, 20, 20, 20, 27],
                        index=['Maria', "João", 'Jose',
                               'Thiago', 'Tais', 'Pamela', 'Ana', 'Lais'])
print(serie_idades)

Maria     25
João      23
Jose      30
Thiago    42
Tais      20
Pamela    20
Ana       20
Lais      27
dtype: int64

In [52]:
import pandas as pd

dados = [['ANAA', 25],
         ['SKSS', 35],
         ['BBHS', 45],
         ['RUNK', 55],
         ['STES', 65]]
df_idades = pd.DataFrame(dados, columns['Nome', 'Idade'])
print(df_idades)

NameError: ignored

In [22]:
import pandas as pd

idades = {'Nome': ['Ana', 'Bob', 'Carla'], 'Idades':[25, 30, 35]}
df_idades = pd.DataFrame(idades)

df_filtrado = df_idades[df_idades['Idades'] > 28]

print(df_filtrado)

    Nome  Idades
1    Bob      30
2  Carla      35

In [58]:
import pandas as pd 


idades = {'Nome':['Ana', 'Bob', 'Carla'], 'Idades':[25, 30, 35]}
df_idades = pd.DataFrame(idades)

df_idades['Bonus por idade'] = df_idades['Idades'].apply[lambda x: x ** 2]

print(df_idades)

TypeError: ignored

In [53]:
import pandas as pd 

idades = {'Nome': ['Ana', 'Bob', 'Carla'], 'Idades':[25, 30, 35]}
df_idades = pd.DataFrame(idades)
print(df_idades)
print('\n')

    Nome  Idades
0    Ana      25
1    Bob      30
2  Carla      35

In [41]:
import pandas as pd
df = {'Nome': ['Ana', 'Bob', 'Carla'], 'Idades': [25, 30, 35]}

df_idades = pd.DataFrame(df)
print(df_idades)

df_idades.drop('Idades', axis=1, inplace=True)
print(f'\n{df_idades}')

    Nome  Idades
0    Ana      25
1    Bob      30
2  Carla      35

    Nome
0    Ana
1    Bob
2  Carla

In [31]:
import pandas as pd
df = {'Nome': ['Ana', 'Bob', 'Carla'], 'Idades':[25, 30, 35]}

df_idades = pd.DataFrame(df)
print(df_idades)

df_idades.drop(1, axis=0, inplace=True)
print(f'\n{df_idades}')

    Nome  Idades
0    Ana      25
1    Bob      30
2  Carla      35

    Nome  Idades
0    Ana      25
2  Carla      35

In [38]:
import pandas as pd
import numpy as np

df = {'Nome': ['Ana', 'Bob', 'Carla', 'Rita'], 'Idades':[25, 30, 35, 17]}
df_idades = pd.DataFrame(df)
print(df_idades)

print('\n')

df_idades['Categoria'] = np.where(df_idades['Idades'] >= 18,'Adulto', 'Menor')
print(df_idades)

    Nome  Idades
0    Ana      25
1    Bob      30
2  Carla      35
3   Rita      17


    Nome  Idades Categoria
0    Ana      25    Adulto
1    Bob      30    Adulto
2  Carla      35    Adulto
3   Rita      17     Menor

In [40]:
import pandas as pd
import numpy as np

df = {'Nome': ['Ana', 'Bob', 'Carla', 'Rita'],
      'Idades':[25, 30, 35, 17]}
df_idades = pd.DataFrame(df)

df_idades['Categoria'] = np.where(df_idades['Idades'] >= 18, 'Adulto', 'Menor')
grupo_categoria = df_idades.groupby('Categoria')['Idades']
print(grupo_categoria.groups)

{'Adulto': [0, 1, 2], 'Menor': [3]}

In [45]:
import pandas as pd

df = {'salario': [2000, 2500, 1500, 4000, 5000, 3500, 2500]}
df_salario = pd.DataFrame(df)

média = df_salario['salario'].mean()
print('Media aritmetica:', média)

mediana = df_salario['salario'].median()
print('Mediana;' , mediana)

minimo = df_salario['salario'].min()
print('Valor minimo:', minimo)

Media aritmetica: 3000.0
Mediana; 2500.0
Valor minimo: 1500

In [47]:
import pandas as pd

df = {'salario': [2000, 2500, 1500, 4000, 5000, 3500, 2500]}
df_salario = pd.DataFrame(df)

quantidade_itens_não_nulos = df_salario['salario'].count()
print('Retorna a quantidade de itens não nulos:', quantidade_itens_não_nulos)

descricao = df_salario['salario'].describe()
print('\nDescrição estatistica:\n',descricao)

Retorna a quantidade de itens não nulos: 7

Descrição estatistica:
 count       7.000000
mean     3000.000000
std      1224.744871
min      1500.000000
25%      2250.000000
50%      2500.000000
75%      3750.000000
max      5000.000000
Name: salario, dtype: float64